# CODEOWNERS
# These owners are automatically requested for review when a pull request
# touches files they own. See:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for all repository content
* @petersonjdNIH
